* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 100%;
}

.form-section {
    width: 25%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-section label {
    display: block;
    margin-top: 10px;
}

.form-section input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.map-section {
    width: 50%;
    padding: 20px;
}

#mapid {
    width: 100%;
    height: 400px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#addressInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.results-section {
    margin-top: 20px;
    width: 25%;
    /* Ajustei para ficar mais similar à largura da .form-section */
    padding: 20px;
    border: 1px solid #ccc;
    /* Borda semelhante à da .form-section */
    background-color: #fff;
    /* Cor de fundo semelhante à .form-section */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Sombras iguais para um efeito consistente */
}

.results-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    text-align: left;
    /* Alinhado à esquerda */
}

.results-section .result {
    font-size: 18px;
    color: #333;
    /* Cor preta para o texto */
    text-align: left;
    /* Alinhado à esquerda */
    padding: 10px 0;
    font-weight: bold;
}

.results-section p {
    color: #333;
}

#titles {
    margin-top: 10px;
}