* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #003366;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

.container {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  background-color: #f4f4f4;
  width: 20%;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}
